FLASK_SECRET_KEY=replace-with-a-random-secret

AWS_REGION=ap-south-1
S3_BUCKET=piske-gram-bucket
S3_PREFIX=uploads

MYSQL_HOST=piskegram-database.cfgiqg2g63yp.ap-south-1.rds.amazonaws.com
MYSQL_PORT=3306
MYSQL_USER=admin
MYSQL_PASSWORD=replace-with-your-database-password
MYSQL_DATABASE=piske-gram
